.sas-grid {
  display: grid;
  grid-template-columns: 520px 520px;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }
  .sas-grid div {
    background: lightblue; }
  @media only screen and (max-width: 1200px) {
    .sas-grid div {
      background: blue; } }

@media only screen and (max-width: 1200px) {
  .sass-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; } }

.sass-pseudo {
  margin-top: 60px; }
  .sass-pseudo:before {
    content: 'Hi I\'m before, '; }
  .sass-pseudo:after {
    content: 'Hi I\'m after'; }

.sass-box {
  display: flex;
  flex-direction: column; }
  .sass-box div {
    background: aquamarine;
    display: inline-block;
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px dashed black; }
  .sass-box div:first-child {
    box-sizing: border-box;
    margin-bottom: 10px; }
  .sass-box div:last-child {
    box-sizing: content-box; }
