$breaking-point: 1200px;

@mixin small-resolution {
    @media only screen and (max-width: $breaking-point) {
        @content;
    }
}

.sas-grid {
    display: grid;
    grid-template-columns: 520px 520px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    div {
        background: lightblue;
    }

    @include small-resolution {
        div {
            background: blue;
        }
    }
}

.sass-text {
    @include small-resolution {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }    
}

.sass-pseudo {
    margin-top: 60px;
    &:before {
        content: 'Hi I\'m before, ';
    }
    &:after {
        content: 'Hi I\'m after';
    }
}

.sass-box {
    display: flex;
    flex-direction: column;

    div {
        background: aquamarine;
        display: inline-block;
        width: 400px;
        height: 50px;
        padding: 10px;
        border: 1px dashed black;
    }

    div:first-child {
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    div:last-child {
        box-sizing: content-box;
    }
}