.sas-grid {
  display: grid;
  grid-template-columns: 520px 520px;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }
  .sas-grid div {
    background: lightblue; }
  @media only screen and (max-width: 1200px) {
    .sas-grid div {
      background: blue; } }

@media only screen and (max-width: 1200px) {
  .sass-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; } }

.sass-pseudo {
  margin-top: 60px; }
  .sass-pseudo:before {
    content: 'Hi I\'m before, '; }
  .sass-pseudo:after {
    content: 'Hi I\'m after'; }
