$breaking-point: 1200px;

@mixin small-resolution {
    @media only screen and (max-width: $breaking-point) {
        @content;
    }
}

.sas-grid {
    display: grid;
    grid-template-columns: 520px 520px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    div {
        background: lightblue;
    }

    @include small-resolution {
        div {
            background: blue;
        }
    }
}

.sass-text {
    @include small-resolution {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }    
}

.sass-pseudo {
    margin-top: 60px;
    &:before {
        content: 'Hi I\'m before, ';
    }
    &:after {
        content: 'Hi I\'m after';
    }
}