.sidebar {
    margin: 0;
    padding: 10px;
    flex-basis: 100px;
    height: 100%;
    border-right: 1px solid blue;

    a {
        color: #312c31;
    }

    li:not(:last-child) {
        margin-bottom: 10px;
    }

    li {
        display: inline-block;
        width: 173px;
        margin: 0 10px;
        position: relative;
        transform: skewy(-3deg);
        backface-visibility: hidden;
        transition: 200ms all;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    li a {
        text-transform: uppercase;
        font-family: 'Squada One', cursive;
        font-weight: 800;
        display: block;
        background: #FFF;
        padding: 2px 10px;
        color: #333;
        font-size: 35px;
        text-align: center;
        text-decoration: none;
        position: relative;
        z-index: 1;
        text-shadow: 1px 1px 0px #FFF,  2px 2px 0px #999, 3px 3px 0px #FFF;
        background-image: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
        transition: 1s all;
        background-image: linear-gradient(left top, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.15) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.15) 75%);
        background-size: 4px 4px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 0 20px -5px rgba(0, 0, 0, 0.4), 0 0 0px 3px #FFF inset;
    }

    li:hover {
        width: 163px;
    }

    a:hover {
        color: #d90075;
    }

    li:after,
    li:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 100%;
        background: #BBB;
        transform: skewY(8deg);
        z-index: -3;
        border-radius: 4px;
    }

    li:after {
        background-image: linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
        right: 0;
        top: -4px;
    }

    li:before {
        left: 0;
        bottom: -4px;
        background-image: linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    }
}
